.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.searchForm{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar{
  width: 50%;
  border: none;
  padding: 10px;
}

.searchButton{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color:white;
  margin-left: 23px;
}

.recipes{
  display: flex;
  justify-content: space-around;
   flex-wrap: wrap; 
}

.recipeList{
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71,71,71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  /* flex-wrap:wrap ; */
  width: 600px;
  height: 460px;
  padding: 10px;
}

.recipeList ol{
  overflow-y: scroll;
}

.recipeList ol li{
  display: flex;
  flex-wrap: wrap;
}

.image{
  border-radius: 10px;
  width: 100px;
  height: 80px;
}

.recipeList h2{
   margin-bottom: 25px;
}

.recipeList h4{
  margin: 0;
}

.header{
  height: 40vh;
   /* background: url('./Screenshot\ 2023-05-11\ 093008.png') ; */
   /* background :lightcoral; */
   background: url('./brooke-lark-08bOYnH_r_E-unsplash\(1\).jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   object-fit: cover;
}

.header h1{
  margin-top: 0;
  text-align: center;
  font-size: 50px;
}

footer{
  text-align: center;
  align-items: center;
  height:50px;
  background: grey;
  text-decoration: none;
}

/* Media queries */
@media(max-width:650px){
  .recipeList{
    width: auto;
  }
}